<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="HeavyMessageSizeBinding" sendTimeout="00:10:00"
                    allowCookies="true" maxBufferPoolSize="50000000" maxBufferSize="50000000"
                    maxReceivedMessageSize="50000000">
                    <readerQuotas maxStringContentLength="50000000" maxArrayLength="50000000" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.0.105:8733/AlgorithmServerOne/Compute"
                binding="basicHttpBinding" bindingConfiguration="HeavyMessageSizeBinding"
                contract="Common.ICompute" name="ServerOneEndPoint" kind=""
                endpointConfiguration="" />
            <endpoint address="http://192.168.0.105:8733/AlgorithmServerTwo/Compute"
                binding="basicHttpBinding" bindingConfiguration="HeavyMessageSizeBinding"
                contract="Common.ICompute" name="ServerTwoEndPoint" kind=""
                endpointConfiguration="" />
        </client>
    </system.serviceModel>
</configuration>